<div class="container">
    <!-- Build masonry -->
    <div class="masonry">
        {{#each images}}
            <div class="item">
                <a href="/image/{{this.id}}">
                <img src="{{this.link}}" class="img-responsive"/>
                </a>
                <p><strong>{{this.name}}</strong></p>
                <br />
            </div>
        {{/each}}
    </div>
</div>
